.video{
    flex: 1 ;
    display: flex;
    /* width: 1px; */
    /* border: 1px solid; */
    height: auto;
    gap: 1px;
    width: auto;
    
    

    /* border-collapse: collapse; */
}

.sideline{
    width: 4px;
    /* border: 1px solid; */
}

.videos-result{
    flex: 1;
    /* width: 1300px; */
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    /* margin-left: 10px; */
    /* margin-top: 10px; */

}



.gridcard-1{
    margin: 4px;
    height: 250px;
    width: auto;
    /* border: 1px solid; */
    display: flex;
    padding: 2px;
    background-color: rgb(241, 241, 241);
    margin: 2px;
    border-radius: 20px;
}

.gridcard-1:hover{
    transform: scale3d(1.001, 1.001, 1);
}

.grid-thumbnail-1{
    /* flex: 2.2; */
    /* border: 1px solid; */
    width: 380px;
    height: 240px;
    margin: 2px;
    margin-left: 10px;
    align-self: center;
    justify-self: center;
}

.grid-data-1{
    flex: 3;
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    gap: 1px;
    padding: 4px;
    margin-left: 10px;

}

.grid-data-title-1{
    flex: 1.5;
    /* border: 1px solid; */
    justify-self: flex-end;
    align-self: flex-start;
    margin: 2px;
    font-weight: bold;
    margin-top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 23px;

}
.grid-data-channel-1{
    flex: 1.2;
    /* border: 1px solid; */
    color: gray;
    font-size: 14px;
    margin: 2px;
    font-size: 17px;
    font-weight: bold;
    
}
.grid-data-chdata-1{
    flex: 1.2;
    color: rgb(57, 57, 57);
    font-size: 17px;
    /* border: 1px solid; */
    font-weight: 500;

    
}


