/* .sidebar{
    display: flex;
    width: 180px;
    height: auto;
    border: 1px solid none;
    border-right: 1px solid black;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    gap: 5px;
    justify-content: center;
    padding: 5px;
} */


.home-options{
    height: 200px;
    /* border: 1px solid ; */
    width: 178px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* overflow: scroll; */
    border-bottom: 0.1px solid rgb(208, 208, 208);
    
}

.subscription{
    height: auto;
    /* border: 1px solid; */
    width: 178px;
    display: flex;
    padding: 2px;
    flex-direction: column;
    gap: 2px;
    /* overflow-x: hidden;
    overflow-y: scroll; */
    text-align: left;

    
    
}

.sub-head{
    height: 20px;
    /* border:1px solid none; */
    width: 174px;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin: 10px;
    gap: 5px;
}

.sub-data{
    flex: 1;
    /* border:1px solid; */
    width: 174px;
    text-align: left;
}

.more{
    border-top: 0.1px solid rgb(208, 208, 208);
    height: 250px;
    /* border: 1px solid; */
    width: 178px;
    display: flex;
    padding: 2px;
    flex-direction: column;
    gap: 2px;
    
}

.more-head{
    height: 20px;
    /* border:1px solid none; */
    width: 174px;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin-left: 2x;
    margin: 10px;
    gap: 5px;
}

.more-data{
    flex: 1;
    /* border:1px solid; */
    width: 174px;
    text-align: center;
}

.bar-card{
    margin: 4px;
    height: 40px;
    width: 160px;
    /* border: 1px solid; */
    display: flex;
    gap: 2px;
    padding: 2px;
    border-radius: 10px;

}
.bar-card-logo{
    
    height: 20px;
    width: 20px;
    /* border: 1px solid; */
    border-radius: 10px;
    margin: 4px;
    align-self: center;
    justify-content: center;

}
.bar-card-text{
    
    height: 38px;
    flex: 1;
    /* border: 1px solid; */
    /* border: 0.1px solid; */
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    padding: 2px;
    margin-top: 14px;
    margin-left: 10px;
    align-self: center;
    justify-self: center;
    text-align: left;
    /* font-weight: bold; */

}

.bar-card:hover{
    background-color: rgb(228, 228, 228);
}




