.main {
    display: flex;
    flex-direction: column;
}

.VideoContainer {
    display: flex;
    /* border: 1px solid; */
    flex-direction: row;

}

.Video {
    flex: 3;
    height: 100vh;
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    padding: 1px;
    gap: 4px;
}

.play-area {
    width: auto;
    height: 498px;
    /* border: 1px solid; */

}

.play-data {
    flex: 1;
    /* border: 1px solid; */
    height: 600px;
    display: flex;
    flex-direction: column;
    padding: 4px; 
    gap: 2px;


}

.vid-title {
    flex: 1;
    /* border: 1px solid; */
    font-weight: bold;
    justify-self: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 5px;
    font-size: 18px;
    padding: 4px;

}

.vid-data {
    flex: 2;
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
    /* justify-content: ; */


}

.section-1{
    height: 60px;
    width: 300px;
    /* border: 1px solid; */
    display: flex;
    /* padding: 1px; */
    padding-left: 4px;
    justify-content: space-between;

}

.ico{
    width: 40px;
    height: 40px;
    border-radius: 25px;
    /* border: 1px solid; */
    margin-top: 10px;
}

.name{
    font-size: 15px;
    /* margin-top: 5px; */
    /* margin-left: 5px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
.channel-name{
    font-weight: bold;
    
}
.channel-Sub{
    font-weight: bold;
    font-size:13px ;
    color: rgb(93, 93, 93);

}

.Sub-btn{
    height: 40px;
    width: 100px;
    margin-top: 10px;
    color: white;
    border: none;
    border-radius: 20px;
    border-color: black;
    background-color: black;
}

.section2{
    height: 60px;
    width: 200px;
    /* border: 1px solid; */
    display: flex;
    /* padding: 1px; */
    padding-left: 10px;
    padding-top: 10px;
    justify-content: space-between;

}

.feel{
    display: flex;
    justify-content: space-between;
    gap: 0px;
    justify-content: center;
    align-content: center;

}

.liked,.dislike,.share{
    height: 40px;
    width: 60px;
    border-radius: 20px;
    border: 0.1px solid rgb(0, 0, 0);
    color: black;
}

.liked{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.dislike{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.vid-description {
    flex: 3;
    /* border: 1px solid; */
    border-radius: 20px;
    background-color: rgba(128, 128, 128, 0.426);
}


.Video-bar {
    flex: 2;
    /* border: 1px solid; */
}